In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
plt.style.use('seaborn')
%matplotlib inline

In [2]:
df = pd.read_csv('data/LoanStats_2017Q1 2.csv', header=1, low_memory=False)

In [3]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,NaN,NaN,3600.0,3600.0,3600.0,36 months,7.49%,111.97,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,15000.0,15000.0,15000.0,60 months,14.99%,356.78,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,8400.0,8400.0,8400.0,36 months,11.39%,276.56,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000.0,4000.0,4000.0,36 months,10.49%,130.00,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,6000.0,6000.0,6000.0,36 months,7.24%,185.93,A,A3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# remove the last two rows
df.tail()
df.drop(index = df.iloc[-2:].index, inplace=True)

In [5]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96779 entries, 0 to 96778
Data columns (total 122 columns):
 #   Column                               Dtype
---  ------                               -----
 0   id                                   object
 1   member_id                            float64
 2   loan_amnt                            float64
 3   funded_amnt                          float64
 4   funded_amnt_inv                      float64
 5   term                                 object
 6   int_rate                             object
 7   installment                          float64
 8   grade                                object
 9   sub_grade                            object
 10  emp_title                            object
 11  emp_length                           object
 12  home_ownership                       object
 13  annual_inc                           float64
 14  verification_status                  object
 15  issue_d                              object
 16  loan_status                          object
 17  pymnt_plan                           object
 18  url                                  float64
 19  desc                                 float64
 20  purpose                              object
 21  title                                object
 22  zip_code                             object
 23  addr_state                           object
 24  dti                                  float64
 25  delinq_2yrs                          float64
 26  earliest_cr_line                     object
 27  inq_last_6mths                       float64
 28  mths_since_last_delinq               float64
 29  mths_since_last_record               float64
 30  open_acc                             float64
 31  pub_rec                              float64
 32  revol_bal                            float64
 33  revol_util                           object
 34  total_acc                            float64
 35  initial_list_status                  object
 36  out_prncp                            float64
 37  out_prncp_inv                        float64
 38  total_pymnt                          float64
 39  total_pymnt_inv                      float64
 40  total_rec_prncp                      float64
 41  total_rec_int                        float64
 42  total_rec_late_fee                   float64
 43  recoveries                           float64
 44  collection_recovery_fee              float64
 45  last_pymnt_d                         object
 46  last_pymnt_amnt                      float64
 47  next_pymnt_d                         object
 48  last_credit_pull_d                   object
 49  collections_12_mths_ex_med           float64
 50  mths_since_last_major_derog          float64
 51  policy_code                          float64
 52  application_type                     object
 53  annual_inc_joint                     float64
 54  dti_joint                            float64
 55  verification_status_joint            object
 56  acc_now_delinq                       float64
 57  tot_coll_amt                         float64
 58  tot_cur_bal                          float64
 59  open_acc_6m                          float64
 60  open_il_6m                           float64
 61  open_il_12m                          float64
 62  open_il_24m                          float64
 63  mths_since_rcnt_il                   float64
 64  total_bal_il                         float64
 65  il_util                              float64
 66  open_rv_12m                          float64
 67  open_rv_24m                          float64
 68  max_bal_bc                           float64
 69  all_util                             float64
 70  total_rev_hi_lim                     float64
 71  inq_fi                               float64
 72  total_cu_tl                          float64
 73  inq_last_12m                         float64
 74  acc_open_past_24mths                 float64
 75  avg_cur_bal                          float64
 76  bc_open_to_buy                       float64
 77  bc_util                              float64
 78  chargeoff_within_12_mths             float64
 79  delinq_amnt                          float64
 80  mo_sin_old_il_acct                   float64
 81  mo_sin_old_rev_tl_op                 float64
 82  mo_sin_rcnt_rev_tl_op                float64
 83  mo_sin_rcnt_tl                       float64
 84  mort_acc                             float64
 85  mths_since_recent_bc                 float64
 86  mths_since_recent_bc_dlq             float64
 87  mths_since_recent_inq                float64
 88  mths_since_recent_revol_delinq       float64
 89  num_accts_ever_120_pd                float64
 90  num_actv_bc_tl                       float64
 91  num_actv_rev_tl                      float64
 92  num_bc_sats                          float64
 93  num_bc_tl                            float64
 94  num_il_tl                            float64
 95  num_op_rev_tl                        float64
 96  num_rev_accts                        float64
 97  num_rev_tl_bal_gt_0                  float64
 98  num_sats                             float64
 99  num_tl_120dpd_2m                     float64
 100 num_tl_30dpd                         float64
 101 num_tl_90g_dpd_24m                   float64
 102 num_tl_op_past_12m                   float64
 103 pct_tl_nvr_dlq                       float64
 104 percent_bc_gt_75                     float64
 105 pub_rec_bankruptcies                 float64
 106 tax_liens                            float64
 107 tot_hi_cred_lim                      float64
 108 total_bal_ex_mort                    float64
 109 total_bc_limit                       float64
 110 total_il_high_credit_limit           float64
 111 revol_bal_joint                      float64
 112 sec_app_earliest_cr_line             object
 113 sec_app_inq_last_6mths               float64
 114 sec_app_mort_acc                     float64
 115 sec_app_open_acc                     float64
 116 sec_app_revol_util                   float64
 117 sec_app_open_il_6m                   float64
 118 sec_app_num_rev_accts                float64
 119 sec_app_chargeoff_within_12_mths     float64
 120 sec_app_collections_12_mths_ex_med   float64
 121 sec_app_mths_since_last_major_derog  float64
dtypes: float64(97), object(25)
memory usage: 90.8+ MB

In [6]:
df.drop(columns=['id', 'member_id', 'url', 'desc', 'emp_title', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 
                 'sec_app_mths_since_last_major_derog'], inplace=True)

In [7]:
df.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,...,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med
count,96779.000000,96779.000000,96779.000000,96779.000000,9.677900e+04,96779.000000,96779.000000,96779.000000,50486.000000,19105.000000,...,96779.000000,9.677900e+04,1025.000000,1025.000000,1025.000000,1019.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,14858.279947,14858.279947,14853.928022,450.885696,8.276104e+04,22.107865,0.349642,0.505192,33.552787,68.747396,...,24088.470205,4.572683e+04,28634.799024,1.721951,11.600000,59.096271,2.901463,13.268293,0.021463,0.064390
std,9396.273231,9396.273231,9393.128515,283.501239,2.149442e+05,185.235747,0.929675,0.803738,21.877887,25.560842,...,23219.744251,4.619543e+04,20339.923227,1.841300,6.303521,24.207683,3.260956,8.477637,0.180947,0.268369
min,1000.000000,1000.000000,1000.000000,30.120000,0.000000e+00,-1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7800.000000,7800.000000,7800.000000,244.300000,4.900000e+04,12.240000,0.000000,0.000000,15.000000,53.000000,...,9000.000000,1.623100e+04,14384.000000,0.000000,7.000000,41.700000,1.000000,7.000000,0.000000,0.000000
50%,12000.000000,12000.000000,12000.000000,372.710000,7.000000e+04,17.990000,0.000000,0.000000,30.000000,72.000000,...,17300.000000,3.443400e+04,23848.000000,1.000000,11.000000,61.200000,2.000000,12.000000,0.000000,0.000000
75%,20000.000000,20000.000000,20000.000000,602.300000,9.950000e+04,24.350000,0.000000,1.000000,49.000000,87.000000,...,31400.000000,6.100000e+04,36388.000000,3.000000,15.000000,78.550000,4.000000,17.000000,0.000000,0.000000
max,40000.000000,40000.000000,40000.000000,1715.420000,6.100000e+07,9999.000000,21.000000,5.000000,137.000000,120.000000,...,405300.000000,1.285625e+06,170412.000000,15.000000,46.000000,106.800000,28.000000,90.000000,4.000000,2.000000

In [8]:
df['int_rate_%'] = df['int_rate'].str.strip('%').astype('float64')

In [9]:
df['revol_util_%'] = df['revol_util'].str.strip('%').astype('float64')

In [10]:
df.emp_length.value_counts()

10+ years    33365
2 years       9052
3 years       8180
< 1 year      6951
1 year        6421
5 years       6042
4 years       5727
6 years       4248
9 years       3580
7 years       3222
8 years       3199
Name: emp_length, dtype: int64

In [11]:
# remove years from emp_length column
df['emp_length_yr'] = df.emp_length.str.strip(' years')

In [12]:
# remove months from term column
df['term_month'] = df.term.str.strip(' months')

In [13]:
df.drop(columns=['int_rate','revol_util', 'emp_length', 'term'], inplace=True)

In [14]:
# identify percentage of null values in each column
df_null_value = df.isnull().sum()/df.shape[0]

In [15]:
columns_null_80percent = list(df_null_value.loc[df_null_value >= 0.8].index)

In [16]:
# drop columns with null values more than 80%
df.drop(columns=columns_null_80percent, inplace=True)

In [17]:
df.select_dtypes('object').columns

Index(['grade', 'sub_grade', 'home_ownership', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code',
       'addr_state', 'earliest_cr_line', 'initial_list_status', 'last_pymnt_d',
       'next_pymnt_d', 'last_credit_pull_d', 'application_type',
       'emp_length_yr', 'term_month'],
      dtype='object')